{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "tailwind.css" %}">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <title>noname2048.dev</title>
</head>
<body>

    {% for message in messages %}
        <div>
            {{ messsage.tags }}
            {{ message }}
        </div>
    {% endfor %}

    <header class="relative flex flex-col font-my">
        <div class="flex items-center justify-between bg-yellow-400 px-10">
            <div class="flex items-center justify-start">
                <a class="text-gray-500 hover:text-gray-800" href="{% url "index" %}">
                    <span class="font-my font-normal text-xl text-gray-100">Noname2048.dev</span>
                </a>
            </div>
            <nav class="flex items-center justify-around">
                <a class="px-1 py-1 ml-2 text-black hover:text-gray-600" href="#">home</a>
                <a class="px-1 py-1 ml-2 text-black hover:text-gray-600" href="{% url "forum:main" %}">forum</a>
                <a class="px-1 py-1 ml-2 text-black hover:text-gray-600" href="#">logs</a>
                <a class="px-1 py-1 ml-2 text-black hover:text-gray-600" href="#">books</a>
            </nav>
        </div>
        <div class="absolute flex items-center justify-end text-sm px-10" style="right: 0px; top: 34px;">
            {% if request.user.is_authenticated %}
                <a class="border border-transparent rounded text-white bg-green-600 hover:bg-green-700 shadow" href="{% url "accounts:logout" %}?next={{ request.path }}">로그아웃</a>
            {% else %}
                <a class="border rounded px-2 py-1 text-gray-500 hover:text-gray-900" href="{% url "accounts:login" %}?next={% if next %}{{ next }}{% else %}{{ request.path }}{% endif %}">로그인</a>
                <a class="border border-transparent rounded px-2 py-1 text-white bg-indigo-600 hover:bg-indigo-700 shadow" href="{% url "accounts:signup" %}?next={{ request.path }}">회원가입</a>
            {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock content %}

</body>
</html>
