### Django with Docker ###

# important secret keys
/.secrets.json
/.env

# requirements of devs
/requirements/dev.txt

# pyenv
/.python-version

# pycache
__pycache__/

# static and media
water/static
water/media

# IDE
/.vscode
/.idea
.ipynb_checkpoints
