### Django with Docker ###

# important secret keys
/.secrets.json
/.env

# requirements of devs
/requirements/dev.txt

# pyenv
/.python-version

# pycache
__pycache__/

# static and media
/static
/media

# IDE
/.vscode
/.idea
.ipynb_checkpoints

# DB
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# coverage with codecov
.coverage
coverage.xml
