{% extends "index.html" %}

{% load socialaccount %}

{% block content %}
    
    {% if form %}
        <div class="flex item-center justify-center bg-gray-50 w-screen">
            <form class="w-1/3" action="" method="post" enctype="multipart/form-data">
                <div class="rounded-md space-y-4 w-full">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        <div class="p-2">
                            <span>{{ field.label_tag }}</span>
                            <div class="border rounded-md p-1">
                                {{ field.errors }}
                                {{ field }}
                                {{ field.help_text }}
                            </div>
                        </div>
                    {% endfor %}
                    
                    <!--아이디 패스워드 찾기 버튼-->
                    <div class="flex items-center justify-end">
                        <a class="text-black hover:text-gray-500" href="#">아이디찾기</a>/<a class="text-black hover:text-gray-500" href="#">패스워드찾기</a>
                    </div>
                    <!--로그인 버튼-->
                    <div class="flex item-center justify-between">
                        <button class="bg-green-100 p-2 rounded w-full mt-4" type="submit">로그인</button>
                    </div>

                    <!--소셜로그인-->
                    <a href="{% provider_login_url "google" %}">구글로 로그인 하기</a>
                </div>
            </form>
        </div>
    {% endif %}

{% endblock content %}

