{% extends "index.html" %}
{% load humanize %}
{% load forum_extras %}

{% block content %}
    <div class="flex flex-col items-center justify-center bg-gray-100">
        <div class="flex flex-1 flex-col" style="width: 70%;">
        
            <!--카테고리 정보-->
            <div class="flex bg-white p-3 my-2">
                <div class="flex flex-col flex-1">
                    <div class="flex flex-row items-end">
                        <span class="text-lg">전체글</span>
                        <span class="text-sm">{{ total_count }}</span>
                    </div>
                    <div class="flex items-start">
                        <span class="text-sm">since</span>
                        <span class="text-sm">since</span>
                    </div>
                    <ul class="flex items-start">
                        {% comment %} <li class="px-1"><a class="text-sm border-b">전체글</a></li> {% endcomment %}
                        <li class="px-1"><a class="text-sm border-b">general</a></li>
                        <li class="px-1"><a class="text-sm border-b">free</a></li>
                    </ul>
                </div>
                <div class="flex items-center">
                    <span>img</span>
                </div>
            </div>

            <!--게시글 내용-->
            <div class="flex flex-1 flex-col bg-white px-3">
                <!--제목-->
                <h1 class="flex items-center justify-start">
                    <span class="text-sm px-2 border-r border-indigo-500 text-gray-600">{{ post.user.username }}님</span>
                    <span class="text-xl px-2 py-3">{{ post.title }}</span>
                </h1>

                <!--내용컨테이너-->
                <div class="border">

                    <!--내용헤더-->
                    <div class="border-t-2 border-blue-300 bg-gray-300 flex justify-between items-center">
                        <div class="px-2">
                            <i class="far fa-clock"></i>
                            <span>{{ post.created_at | naturaltime }}</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <span class="px-1"><i class="far fa-comment"></i>{{ post.forumcomment_set.count }}</span>
                            <span class="px-1"><i class="far fa-thumbs-up"></i>{{ post.forumlike_set.count }}</span>
                            <span class="px-1"><i class="far fa-eye"></i>{{ post.forumposthitcount_set.count }}</span>
                        </div>
                    </div>

                    <!--내용-->
                    <div class="flex flex-col p-3">
                        <p class="text-sm" style="min-height: 10rem;">{{ post.content }}</p>
                        <!--좋아요버튼-->
                        <div class="flex justify-center">
                            <a class="border-2 border-green-500 rounded-md px-2 py-1 hover:bg-green-500 text-green-500 text-sm"
                               href="{% url "forum:posts_like" post.id %}">
                               <span><i class="far fa-thumbs-up"></i>좋아요 {{ post.forumlike_set.count }}</span>
                            </a>
                        </div>
                    </div>

                    <!--내용footer-->
                    <div class="p-3 bg-gray-100">
                        <a class="border rounded-md py-1 px-2 bg-white hover:bg-indigo-200 text-xs" href="#">목록</a>
                        <a class="border border-red-400 rounded-md py-1 px-2 bg-transparent hover:bg-red-400 hover:text-white text-xs" href="#">신고</a>
                    </div>

                     <!--new comment-->
                    <div class="border">
                        {% if user.is_authenticated %}
                            <form class="flex flex-col p-4" action="{% url "forum:comments_new" post.id %}" method="POST">
                                {% csrf_token %}
                                <div class="flex flex-row justify-between items-center bg-gray-100 border">
                                    <div class="bg-gray-100 py-2">
                                        <span class="text-xs px-1 border-r-2">작성자</span>
                                        {{ request.user.username }}
                                    </div>
                                </div>
                                {{ new_comment_form.content }}
                                <div class="flex justify-end">
                                    <button class="p-2 border rounded-md" type="submit">작성</button>
                                </div>
                            </form>
                        {% else %}
                            <p>로그인해 주세요</p>
                            <a href="#">로그인</a>
                        {% endif %}    
                    </div>

                    <!--comment-->
                    <div class="border pt-2">
                        <div class="py-2 px-3">
                            <span>댓글보기</span>
                        </div>

                        {% for comment in comments %}
                            <div class="m-4 border">
                                <div class="flex flex-row justify-between items-center bg-gray-100">
                                    <div class="bg-gray-100 py-2">
                                        <span class="text-xs px-1 border-r-2">작성자</span>
                                        {{ comment.author }}
                                    </div>
                                    <a class="flex-col items-center text-xs px-2" href="{% url "forum:comments_like" post.id comment.id %}">
                                        <span>추천 {{ comment.forumlike_set.count }}</span>
                                        <span>
                                            {% if comment|is_user_like:user %}
                                                추천완료
                                            {% else %}
                                                추천하기
                                            {% endif %}
                                        </span>
                                    </a>
                                </div>
                                <div class="p-2">
                                    {{ comment.content }}
                                </div>
                                <div>
                                    {% for re_comment in comment.forumcomment_set.all %}
                                        <div class="m-4 border">
                                            <div class="flex flex-row justify-between items-center bg-gray-100">
                                                <div class="bg-gray-100 py-2">
                                                    <span class="text-xs px-1 border-r-2">작성자</span>
                                                    {{ re_comment.author }}
                                                </div>
                                                <a class="flex-col items-center text-xs px-2" href="{% url "forum:comments_like" post.id comment.id %}">
                                                    <span>추천 {{ re_comment.forumlike_set.count }}</span>
                                                    <span>
                                                        {% if re_comment|is_user_like:user %}
                                                            추천완료
                                                        {% else %}
                                                            추천하기
                                                        {% endif %}
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="p-2">
                                                {{ re_comment.content }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <form class="flex flex-col p-4" action="{% url "forum:comments_comment" post.id comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="flex flex-row justify-between items-center bg-gray-100 border">
                                        <div class="bg-gray-100 py-2">
                                            <span class="text-xs px-1 border-r-2">작성자</span>
                                            {{ request.user.username }}
                                        </div>
                                    </div>
                                    {{ new_comment_form.content }}
                                    <div class="flex justify-end">
                                        <button class="p-2 border rounded-md" type="submit">작성</button>
                                    </div>
                                </form>
                            </div> 
                        {% endfor %}

                       

                    </div>
                </div>
                
                
            </div>

        </div>
    </div>
{% endblock content %}
